<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tests.mapper.CateMapper">

    <resultMap id="cateResultMap" type="cate">
        <id column="category_id" property="categoryId"/>
        <result column="last_update" property="lastUpdate"/>
    </resultMap>



    <select id="selectAll" resultMap="cateResultMap">
                select
        *

                from category;




    </select>



    <insert id="add">
    insert into category ( category_id,name,last_update)
    value(#{categoryId},#{name},#{lastUpdate});
    </insert>


    <update id="update">
        update category
        set
        name=#{name},
        last_update=#{lastUpdate}
        where category_id=#{categoryId};
    </update>


    <delete id="deleteById">
        delete from category where category_id=#{categoryId};
    </delete>

</mapper>